<%= link_to "Pets Index", "/pets" %>
<br></br>

<h1>Shelters List</h1>

<% @shelters.each do |shelter| %>
  <h2><a href="/shelters/<% shelter.id %>"><%= shelter.name %></a></h2>
  <%= link_to 'Create Pet', "/shelters/#{shelter.id}/pets/new", :id => "n#{shelter.id}" %>
  <br></br>
  <br></br>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
  <br></br>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
  <br></br>
<% end %>
<%= link_to 'New Shelter', '/shelters/new' %>
