<a href="/shelters">Shelter Index</a>
<h1>Pet List</h1>
<% @shelter_pets.pets.each do |pet| %>
  <h3>Meet: <%= pet.name %></h3>
  <p><%= image_tag(pet.image, size: "275x200") %></p>
  <p>Approximate Age= <%= pet.approximate_age %></p>
  <p>Description= <%= pet.description %></p>
  <p>Gender: <%= pet.sex %></p>
  <p>Adoption Status: <%= pet.adoption_status %></p>
  <br></br>
<% end %>
<br></br>

<%= link_to 'Create Pet', "/pets/new" %>

<%= link_to 'Pets', "/shelters/#{@shelter_pets.id}/pets" %>
