<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>
<br></br>
<br></br>
<%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %>
<br></br>
<%= link_to 'New Shelter', '/shelters/new' %>
<br></br>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
<br></br>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
