<a href="/shelters">Shelter Index</a>

<h1><%= @shelters.name %></h1>
<br></br>
<p><%= @shelters.address %></p>
<p><%= @shelters.city %></p>
<p><%= @shelters.state %></p>
<p><%= @shelters.zip %></p>
<br></br>
<%= link_to "Update Shelter", "/shelters/#{@shelters.id}/edit" %>
<br></br>
<%= button_to "Delete Shelter", "/shelters/#{@shelters.id}", method: :delete %>
